<section dir="ltr" class="monument-carousel  choose-course-by-flag fit-to-6-source-langs">
    <div dir="ltr" class="signup">
        <div class="hidden splash-signup-form" id="signup-language" style="display: block;">
            <section class="section-white space slide-in">
                <div class="section-inner-wide section-inner">
                    <div class="language-selection-container">
                        <h1 class="course-picker">Quiero aprender...</h1>
                        <div class="login-signup-flag-list-container  ">
                            <div class="choose-language-flag-container choose-language scroll-animate" ng-repeat="c in Cursos" ng-show="!VerSubcursos" >
                                <div class="vertical-align" ng-click="ejecutar(c.id_curso, c.seccion)">
                                    <div class="flag-box">
                                        <img class="flag-svg-large flag-flex-size" src="IMG/temas/{{c.nombre}}.png">
                                    </div>
                                    <h2 class="white course-name">{{c.nombre}}</h2>
                                </div>
                            </div>
                            <div class="choose-language-flag-container choose-language" ng-repeat="s in Subcursos" ng-hide="!VerSubcursos" >
                                <div class="vertical-align" ng-click="ejecutar(s.id_curso, s.seccion)">
                                    <div class="flag-box">
                                        <img class="flag-svg-large flag-flex-size" src="IMG/temas/{{s.nombre}}.png">
                                    </div>
                                    <h2 class="white course-name">{{s.nombre}}</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>