<div id="app" class="settings">
    <main class="main-right">
        <section class="page-sidebar sidebar-right">
            <div class="inner">
                <div class="box-colored bg-white">
                    <ul id="settings_tab" class="nav-sidebar">
                        <li class="">
                            <a href="#listcursos">Cursos Existentes</a>
                        </li>
                        <li class="active">
                            <a href="#universidades">Universidades</a>
                        </li>
                        <li class="">
                            <a href="#profesores">Profesores</a>
                        </li>
                        <li class="">
                            <a href="#alumnos">Alumnos</a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <section class="page-main main-right">
            <div id="tab-container">
                <form ng-submit="updateProfesor(pro)">
                    <div id="account-content" class="settings-content">

                        <h1 class="player">cursos</h1>
                        <a href="#nivel"><button    class="btn btn-green btn-lg has-tooltip redesign-check" data-margin="5" tabindex="20"   >Agregar Curso</button></a>
                        <hr></hr>
                                    <table class="table table-striped">
                        <thead>
                          <tr>
                            <th>Curso</th>
                            <th>Nivel</th>
                            <th>Sub-curso</th>
                            <th>Sub-curso2</th>
                            <th>Foto</th>
                          </tr>
                        </thead>
                        <tbody>
                          <!--     Configuracion para modificar los cursos
                            <tr ng-repeat="cu in cursosxprofe">
                            <td>{{cu.nombre}}</td>
                            <td>{{cu.nivel | filternivel}}</td>
                            <td>{{cu.modalidad | filtermodalidad}}</td>
                            <td><button ng-click="eliminar($index, cu.id_curso)" class="btn btn-green btn-pequeno has-tooltip redesign-check">eliminar</button></td>
                          </tr> -->
                         </tbody>
                    </table>
                                </div>
                            </div>
                            <div class="intro"></div>
                        </div>
                </form>
                </div>
            </div>
        </section>
    </main>
</div>