

<section dir="ltr" class="monument-cfondo  choose-course-by-flag fit-to-4-source-langs">

  <div id="app" class="settings" >
  <main class="main-right">
    <section class="page-main main-right">
      <div id="tab-container">
        <div id="profile-content" class="settings-content">
          <h1>Registro de Profesor</h1>
          <div  class="settings" ng-show="errorCrear"><p style="color:red">usuario ya existe intentelo de nuevo</p></div>
          <form id="formNProfe" ng-submit="formNewProf(nu)">
          <ul class="list-settings language-direction">
            <li>
              <label class="label">Usuario</label>
              <div class="input">
                <input style="width: 334px;" class="large" type="text" value="" placeholder="username" ng-model="nu.username" required>
              </div>
            </li>
            <li>
              <label class="label">Contraseña</label>
              <div class="input">
                <input style="width: 334px;" class="large" type="password" value="" placeholder="contraseña" ng-model="nu.password" required>
              </div>
            </li>
            <li>
              <label class="label">Nombres</label>
              <div class="input">
                <input style="width: 334px;" class="large" type="text" value="" placeholder="nombres" ng-model="nu.nombres" required>
              </div>
            </li>
            <li>
              <label class="label">Apellido Paterno</label>
              <div class="input">
                <input style="width: 334px;" class="large" type="text" value="" placeholder="apellido paterno" ng-model="nu.ape_paterno" required>
              </div>
            </li>
            <li>
              <label class="label">Apellido Materno</label>
              <div class="input">
                <input style="width: 334px;" class="large" type="text" value="" placeholder="apellido materno" ng-model="nu.ape_materno" required>
              </div>
            </li>
             <li>
              <label class="label">Universidad</label>
              <div class="input">
                <label class="blue-select no-focus smaller fixed-width">
                   <select  ng-model="nu.id_uni" required>
                    <option value="">- Selecciones su UNIversidad -</option>
                    <option ng-repeat="u in UNI" value="{{u.id_uni}}">{{u.nombre_uni}}</option>
                  </select>
                </label>
              </div>
            </li>
            <li>
              <label class="label">Distrito</label>
              <div class="input">
                <label class="blue-select no-focus smaller fixed-width">
                   <select  ng-model="nu.distritos" required>
                    <option value="">- Selecciones el Distrito -</option>
                    <option ng-repeat="d in Distritos" value="{{d.id_distrito}}">{{d.nombre}}</option>
                  </select>
                </label>
              </div>
            </li>
            <li>
              <label class="label">Email</label>
              <div class="input">
                <input style="width: 334px;" class="large" type="email" value="" placeholder="email"  ng-model="nu.email" required>
              </div>
            </li>
            <li>
              <div class="input" >
                <div style="margin: 10px 0 0 0;">
                  <button type="submit" class="btn btn-primary col-lg-4">Crear Usuario</button>
                </div>
              </div>
            </li>
          </ul>
          </form>
        </div>
        <div ng-show="erroruser"> <p>ese usuario o correo ya esta siendo usado intente recuperar contraseña o usar otro correo o usuario</p></div>
      </div>
    </section>
  </main>
</div>

<div id="app" class="page-login" ng-show="registroExitoso">
 <main class="main-center-narrow">
    <section class="page-main">
      <p>Registro Exitoso :D</p>
       <form id="formNProfe" class="form-horizontal" role="form" ng-submit="login(us)">

        <div class="form-group">
            <label class="control-label col-lg-2" >Login de usuario:</label>
            <div class="col-lg-4">
              <input type="text"  class="form-control" placeholder="login" ng-model="us.username" required>
            </div>
        </div>

        <div class="form-group" >
            <label class="control-label col-lg-2" >Contraseña:</label>
            <div class="col-lg-4">
              <input type="password" class="form-control" placeholder="contraseña" ng-model="us.password">
            </div>
        </div>

        <div class="form-group"> 
            <div class="col-lg-offset-2 col-lg-6">
              <button type="submit" class="btn btn-primary col-lg-4">Ingresar</button>
              <div class="col-lg-2"></div>
              
            </div>
        </div>
    </form>
       </section>
  </main>

</div>

</section>

