
<div id="app" class="page-login" ng-hide="registroExitoso">
<!--
<div id="app" class="page-login">
  <main class="main-center-narrow">
    <section class="page-main">
          <h3>Registro de Profesor</h3>
            <form id="formNProfe" class="form-horizontal" role="form" ng-submit="formNewProf(nu)">

        <div class="form-group">
            <label class="control-label col-lg-2" >Login de usuario:</label>
            <div class="col-lg-4">
              <input type="text" pattern="[a-zA-Z-]+" title="Solo se admiten letras" class="form-control" placeholder="login" ng-model="nu.username" required>
            </div>
        </div>


        <div class="form-group" >
            <label class="control-label col-lg-2" >Contraseña:</label>
            <div class="col-lg-4">
              <input type="password" class="form-control" placeholder="contraseña" ng-model="nu.password">
            </div>
        </div>


<section dir="ltr" class="monument-cfondo  choose-course-by-flag fit-to-4-source-langs">

  <div id="app" class="settings">
  <main class="main-right">
    <section class="page-main main-right">
      <div id="tab-container">
        <div id="profile-content" class="settings-content">
          <h1>Registro de Alumno</h1>
          <ul class="list-settings language-direction">
            <li>
              <label class="label">Usuario</label>
              <div class="input">
                <input style="width: 334px;" class="large"type="text" value="" placeholder="nombre">
              </div>
            </li>
            <li>
              <label class="label">Nombre</label>
              <div class="input">
                <input style="width: 334px;" class="large"type="text" value="" placeholder="nombre">
              </div>
            </li>
            <li>
              <label class="label">Apellido Paterno</label>
              <div class="input">
                <input style="width: 334px;" class="large"type="text" value="" placeholder="nombre">
              </div>
            </li>
            <li>
              <label class="label">Apellido Materno</label>
              <div class="input">
                <input style="width: 334px;" class="large"type="text" value="" placeholder="nombre">
              </div>
            </li>
            <li>
              <label class="label">Distrito</label>
              <div class="input">
                <label class="blue-select no-focus smaller fixed-width">
                    <select name="language_direction" id="language_direction">
                    <option value="es_en">Quiero aprender inglés</option>
                    <option value="es_gn">Quiero aprender Guaraní</option>
                    <option value="es_eo">Quiero aprender esperanto</option>
                  </select>
                </label>
              </div>
            </li>
            <li>
              <label class="label">Email</label>
              <div class="input">
                <input style="width: 334px;" class="large"type="text" value="" placeholder="nombre" >
              </div>
            </li>
            <li>
              <div class="input" >
                <div style="margin: 10px 0 0 0;">
                  <a href="/courses" class="btn btn-blue">Crear Usuario en Mi Profe</a>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </section>
  </main>
</div>
</section>

-->

<section dir="ltr" class="monument-cfondo  choose-course-by-flag fit-to-4-source-langs">

  <div id="app" class="settings" >
  <main class="main-right">
    <section class="page-main main-right">
      <div id="tab-container">
        <div id="profile-content" class="settings-content">
          <h1>Registro de Alumno</h1>
          <div  class="settings" ng-show="errorCrear"><p style="color:red">usuario ya existe intentelo de nuevo</p></div>
          <form id="formNAlu" ng-submit="formNewAlu(nu)">
          <ul class="list-settings language-direction">
            <li>
              <label class="label">Usuario</label>
              <div class="input">
                <input style="width: 334px;" class="large" type="text" value="" placeholder="username" ng-model="nu.username" required>
              </div>
            </li>
            <li>
              <label class="label">Contraseña</label>
              <div class="input">
                <input style="width: 334px;" class="large" type="password" value="" placeholder="contraseña" ng-model="nu.password" required>
              </div>
            </li>
            <li>
              <label class="label">Nombres</label>
              <div class="input">
                <input style="width: 334px;" class="large" type="text" value="" placeholder="nombres" ng-model="nu.nombres" required>
              </div>
            </li>
            <li>
              <label class="label">Apellido Paterno</label>
              <div class="input">
                <input style="width: 334px;" class="large" type="text" value="" placeholder="apellido paterno" ng-model="nu.ape_paterno" required>
              </div>
            </li>
            <li>
              <label class="label">Apellido Materno</label>
              <div class="input">
                <input style="width: 334px;" class="large" type="text" value="" placeholder="apellido materno" ng-model="nu.ape_materno" required>
              </div>
            </li>
            <li>
              <label class="label">Numero Telefonico</label>
              <div class="input">
              <!--configurar el angular con la base de datos-->
                <input style="width: 334px;" class="large" type="text" value="" placeholder="numero telefonico" ng-model="nu.numero" required>
              </div>
            </li>
            <li>
              <label class="label">Distrito</label>
              <div class="input">
                <label class="blue-select no-focus smaller fixed-width">
                   <select  ng-model="nu.distritos" required>
                    <option value="">- Selecciones el Distrito -</option>
                    <option ng-repeat="d in Distritos" value="{{d.id_distrito}}">{{d.nombre}}</option>
                  </select>
                </label>
              </div>
            </li>
            <li>
              <label class="label">Email</label>
              <div class="input">
                <input style="width: 334px;" class="large" type="email" value="" placeholder="email"  ng-model="nu.email" required>
              </div>
            </li>
            <li>
              <div class="input" >
                <div style="margin: 10px 0 0 0;">
                  <button type="submit" class="btn btn-primary col-lg-4">Crear Usuario</button>
                </div>
              </div>
            </li>
          </ul>
          </form>
        </div>
        <div ng-show="erroruser"> <p>ese usuario o correo ya esta siendo usado intente recuperar contraseña o usar otro correo o usuario</p></div>
      </div>
    </section>
  </main>
</div>
<!-- entrada ala mala
<div id="app" class="page-login" ng-show="registroExitoso">
 <main class="main-center-narrow">
    <section class="page-main">
      <p>Registro Exitoso :D</p>
       <form id="formNProfe" class="form-horizontal" role="form" ng-submit="loginalu(us)">

        <div class="form-group">
            <label class="control-label col-lg-2" >Login de usuario:</label>
            <div class="col-lg-4">
              <input type="text"   class="form-control" placeholder="login" ng-model="us.username" required>
            </div>
        </div>

        <div class="form-group" >
            <label class="control-label col-lg-2" >Contraseña:</label>
            <div class="col-lg-4">
              <input type="password" class="form-control" placeholder="contraseña" ng-model="us.password">
            </div>
        </div>

        <div class="form-group"> 
            <div class="col-lg-offset-2 col-lg-6">
              <button type="submit" class="btn btn-primary col-lg-4">Ingresar</button>
              <div class="col-lg-2"></div>
              
            </div>
        </div>
    </form>
       </section>
  </main>
-->
</div>

</section>
