<div id="app" class="settings">
    <main class="main-right">
        <section class="page-sidebar sidebar-right">
            <div class="inner">
                <div class="box-colored bg-white">
                    <h2 class="view-profile-headline">
                        <a class="avatar avatar-small " title="nombredeusuario">  <img src="../IMG/profes/{{pros.username}}.{{pros.extension_img}}"><span class="ring"></span></a>  {{pros.username}} <a href="#/" class="username">Ver tu perfil</a>
                    </h2>
                    <ul id="settings_tab" class="nav-sidebar">
                        <li class="">
                            <a href="#perfil">Perfil</a>
                        </li>
                        <li class="active">
                            <a href="#listcursos">Elije tus Cursos</a>
                        </li>
                        <li class="">
                            <a href="#listdistritos">Elije tus Distritos</a>
                        </li>
                        <li class="">
                            <a href="#historial">Historial de clases</a>
                        </li>
                        <li class="">
                            <a href="#pass">Contraseña</a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <section class="page-main main-right">
            <div id="tab-container">
                <form ng-submit="updateProfesor(pro)">
                    <div id="account-content" class="settings-content">
                        <h1 class="player">cursos</h1>
                        <a href="#nivel"><button    class="btn btn-green btn-lg has-tooltip redesign-check" data-margin="5" tabindex="20"   >Agregar Curso</button></a>
                        <hr>
                        </hr>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Curso</th>
                                    <th>Nivel</th>
                                    <th>Modalidad</th>
                                    <th>opciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="cu in cursosxprofe">
                                    <td>{{cu.nombre}}</td>
                                    <td>{{cu.nivel | filternivel}}</td>
                                    <td>{{cu.modalidad | filtermodalidad}}</td>
                                    <td><button ng-click="eliminar($index, cu.id_curso)" class="btn btn-green btn-pequeno has-tooltip redesign-check">eliminar</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
        </section>
    </main>
</div>