
<section dir="ltr" class="monument-carousel  choose-course-by-flag fit-to-4-source-langs">
    <div dir="ltr" class="signup">
        <div class="hidden splash-signup-form" id="signup-language" style="display: block;">
            <section class="section-white space">
                <section class="player-container slide-in">
                	<div id="context-view">
                	</div>
                	<div class="player-main">
                		<div id="prev-session-element-container" class="">
                		</div>
                		<div id="session-element-container" class="">
                			<div class="challenge-translate">
                				<h1 class="player">Cursos Agregados</h1>
                                <a href="#nivel"><button    class="btn btn-green btn-lg has-tooltip redesign-check" data-margin="5" tabindex="20"   >Agregar Curso</button></a>
								<table class="table table-striped">
					    <thead>
					      <tr>
					        <th>Curso</th>
					        <th>Nivel</th>
					        <th>Modalidad</th>
					        <th>opciones</th>
					      </tr>
					    </thead>
					    <tbody>
					      <tr ng-repeat="cu in cursosxprofe">
					        <td>{{cu.nombre}}</td>
					        <td>{{cu.nivel | filternivel}}</td>
					        <td>{{cu.modalidad | filtermodalidad}}</td>
					        <td><button ng-click="eliminar($index, cu.id_curso)">eliminar</button></td>
					      </tr>
					     
					    </tbody>
  					</table>

                			</div>
                		</div>
                		<div class="intro"></div>
                	</div>
                	<footer id="controls" class="player-footer " style="display: block;">
                		<div class="col-right action-panel hidden" style="display: block;">
                			<span class="more-padding-left">
                				<a href="#nivel"><button    class="btn btn-green btn-lg has-tooltip redesign-check" data-margin="5" tabindex="20"   >Agregar Curso</button></a>
                                <a href="#/"><button    class="btn btn-green btn-lg has-tooltip redesign-check" data-margin="5" tabindex="20"   >Listo</button></a>
                			</span>
                		</div>
                	</footer>
                <div id="modal-notification" class="modal hidden fade"></div>
			</section>

            </section>
        </div>
    </div>
</section>


