<div  id="app" class="settings">
  <main class="main-right">

    <section class="page-sidebar sidebar-right">
      <div class="inner">
          <div class="box-colored bg-white">
              <h2 class="view-profile-headline">
                  <a href="/nombredeusuario" class="avatar avatar-small " title="nombredeusuario">  <img src="//s3.amazonaws.com/duolingo-images/avatar/default_2/large"><span class="ring"></span></a>  nombredeusuario <a href="#/" class="username">Ver tu perfil</a>
              </h2>
              <ul id="settings_tab" class="nav-sidebar">
                  <li class="active">
                      <a href="#perfil">Perfil</a>
                  </li>
                  <li class="">
                      <a href="" >Cursos</a>
                  </li>
                  <li class="">
                      <a href="#pass">Contraseña</a>
                  </li>
              </ul>
          </div>
      </div>
    </section>

    <section class="page-main main-right">
      <div id="tab-container">
      <form ng-submit="updateProfesor(pro)">
        <div id="account-content" class="settings-content">
          <button id="submit_button" type="submit" class="btn btn-green right" >Guardar cambios</button>
          <!--mansaje de errores-->
          <div id="confirmation-message" class="hidden save-message">Tus cambios han sido guardados.</div>
          <div id="error-message" class="hidden error-message">Error</div>

          <h1>Configuración de cuenta</h1>
          
          <ul class="list-settings">
            <li>
              <label class="label">Usuario</label>
              <div class="input">
                <input style="width: 334px;" class="large" id="username" ng-model="pro.username" name="username" type="text" disabled>
              </div>
            </li>
            <li>
              <label class="label">Nombres</label>
              <div class="input">
                <input style="width: 334px;" class="large" id="Nombres" ng-model="pro.nombres" name="username" type="text" >
              </div>
            </li>

            <li>
              <label class="label">Enlace de youtube</label>
              <div class="input">
                <input style="width: 334px;" class="large" id="email" name="email" ng-model="pro.link" size="30" type="text" >
              </div>
            </li>

            <li>
              <label class="label">Reseña</label>
              <div class="input">
                <textarea id="bio" name="bio" rows="3" cols="40" ng-model="pro.descripcion" style="margin-bottom: 10px; width: 334px;">
                </textarea>
                <p class="gray">
                <span id="bio-count">100</span> caracteres restantes</p>
              </div>
            </li>

            <li>
              <label class="label">Clases Online</label>
              <div class="input">
                <ul class="radio-buttons">
                  <li>
                    <label>
                      <input class="border" id="microphone_on" type="radio" name="online" value="1" ng-model="pro.online" ng-checked="pro.online!=0"> sí</label>
                  </li>

                  <li>
                    <label>
                    <input class="border" id="microphone_off" type="radio" name="online" value="0" ng-model="pro.online" ng-checked="pro.online==0"> no</label>
                  </li>
                </ul>
              </div>
            </li>

            <li>
              <label class="label">Distrito</label>
              <div class="input">
                <label class="blue-select no-focus smaller fixed-width">
                   <select  ng-model="pro.distritos" ng-value="pro.distritos" required>
                    
                    <option ng-repeat="d in Distritos" value="{{d.id_distrito}}">{{d.nombre}}</option>
                  </select>
                </label>
              </div>
            </li>
            <li>
              <label class="label">Imagen de perfil</label>
              <div class="input">
                <div class="avatar-large left" style="margin-right: 15px;">
                  <a href="/luislinare375596" class="avatar avatar-large  " src="undefined?1486114299650">
                    <img src="//s3.amazonaws.com/duolingo-images/avatar/default_2/xlarge">
                    <span class="ring"></span>
                  </a>
                </div>
                <form id="avatar-upload" action="/avatars" method="post" enctype="multipart/form-data">
                  <input type="hidden" name="user_id" value="248186213">
                  <input id="image-file" type="file" name="image" class="">
                  <br>tamaño máximo = 1 MB
                </form>
              </div>
            </li>
            <button ng-show="correcto">cambios actualizados</button>
          </ul>
          </form>
        </div>
      </div>
    </section>
  </main>
</div>