<div id="site">
    <div id="wrapper">
        <div id="app">
            <section dir="ltr" class="monument-carousel dark-theme">
                <div class="container" >
                    <div class="pading2" >
                        <h1 class="splash">¿En que nivel te encuentras?</h1>
                        <div class="col-md-3" ng-repeat="n in Nivel">
                        <a href="" class="btn4 boton-grande" ng-click="cursos(n.id_nivel)" >
                            <div>
                                <IMG SRC="IMG/mono.png" WIDTH=178 HEIGHT=180>
                            </div>
                            <div>
                                <p> {{n.nombre}}</p>
                            </div>
                        </a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>