<section class="main-slider fullsize pading-chico alto"   id="about" style="background-image: url(IMG/fondo0.jpg">
        <div class="container" >
            <div >
                <div class="pading2" >
                    <div class="col-md-3" ng-repeat="n in Nivel">
                        <a href="" class="btn4 boton-grande" ng-click="cursos(n.id_nivel)" >
                            <div>
                                <IMG SRC="IMG/mono.png" WIDTH=178 HEIGHT=180>
                            </div>
                            <div>
                                <p> {{n.nombre}}</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>