<section class="main-slider fullsize solo"   id="about" style="background-image: url(IMG/fondo0.jpg">
        <div class="container" >
            <div >
                <div class="pading2" >
                    <div class="col-md-3" ng-repeat="c in Cursos">
                        <button  class="btn4 boton-grande"ng-click="cursos()"onclick="window.location.href='#cursos'">
                            <div>
                                <IMG SRC="IMG/mono.png" WIDTH=178 HEIGHT=180>
                            </div>
                            <div>
                                <p> {{c.nombre}}</p>
                            </div>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>