<section class="main-slider fullsize pading-pequeño"   id="about" style="background-image: url(IMG/fondo0.jpg">
        <div class="container" >
            <div >
                <div class="pading2" >
                    <div class="col-md-3" ng-repeat="p in Profes">
                        <button  class="btn4 boton-grande" ng-click="perfilProfe()">
                            <div>
                                <IMG  class="redondo" SRC="IMG/doki.jpg">
                            </div>
                            <div>
                                <p>{{p.username}}</p>
                            </div>
                        </button>
                    </div>
                </div>
            </div>
            
        </div>



    </section>