<section dir="ltr" class="monument-carousel  choose-course-by-flag fit-to-4-source-langs">
     <div style="top:40%;" dir="ltr" class="signup"> 
        <div style="display: block; " class="hidden splash-signup-form" id="signup-language" > 
          
            <section class="section-white space slide-in">
                    <form ng-submit="newsearchprofe()">  
                        <label  style="border: 2px solid #ffffff; width: 150px;" class="blue-select no-focus smaller fixed-width"> 
                            <select  style="color: #100e4c;" ng-model="showNivel" ng-click="getCursosByNivel(showNivel)" required> 
                                <option ng-repeat="on in optionsNivel" value="{{on.id_nivel}}">{{on.nombre}} </option> 
                            </select> 
                        </label> 
                        <label  style="border: 2px solid #ffffff; width: 150px;" class="blue-select no-focus smaller fixed-width"> 
                            <select  style="color: #100e4c;" ng-model="showIdcurso" required> 
                                <option ng-repeat="oc in optionsCursos" value="{{oc.id_curso}}">{{oc.nombre}}</option> 
                            </select> 
                        </label> 
                        <label  style="border: 2px solid #ffffff; width: 150px;" class="blue-select no-focus smaller fixed-width"> 
                            <select  style="color: #100e4c;" ng-model="showMetodo" required> 
                                <option value="0">Online</option> 
                                <option value="1">Presencial</option> 
                            </select> 
                        </label> 
                        <label ng-show="showMetodo==1" style="border: 2px solid #ffffff; width: 150px;" class="blue-select no-focus smaller fixed-width"> 
                            <select  style="color: #100e4c;" ng-model="showIddistrito" > 
                                <option ng-repeat="od in optionsDistritos" value="{{od.id_distrito}}">{{od.nombre}}</option> 
                            </select> 
                        </label> 
                        <button   type="submit" class="btn btn-green btn-lg has-tooltip redesign-check" data-margin="5" tabindex="20"   >Volver a Buscar:</button> 
                    </form>     
                <div class="section-inner-wide section-inner">
                    <div class="language-selection-container" ng-hide="SinProfes">
                        <h1 class="course-picker">Elige tu profesor favorito</h1>
                        <div class="login-signup-flag-list-container  ">
                            <div class="choose-language-flag-container choose-language scroll-animate" ng-repeat="p in Profes" >
                                <div class="vertical-align" >
                                    <a href="#perfilprofe/{{p.username}}">
                                        <div class="flag-box">
                                            <img class="flag-svg-large flag-flex-size" src="IMG/profes/{{p.username}}.{{p.extension_img}}">
                                        </div>
                                         <h2 class="white course-name">{{p.username}}</h2>
                                        <img src="IMG/profes/{{p.puntuacion}}estrellas.png" HEIGHT=16>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="language-selection-container" ng-show="SinProfes">
                        <h1 class="course-picker">Profesores No Disponibles</h1>
                        <a class="btn btn-green sign-up signup-trial" href=#/alumno id="signup-link" style="margin-bottom: 15px;" data-track-click="splash page register facebook">Volver a Buscar</a>
                        
                    </div>

                </div>
            </section>
        </div>
    </div>
</section>