<section class="main-slider fullsize pading-pequeño"   id="about" style="background-image: url(IMG/fondo0.jpg">
        <div class="container" >
            <div >
                <div class="pading2" >
                    <div class="col-md-6">
                        <button  class="btn4 boton-grande"ng-click="cursos()"onclick="window.location.href='#cursos'">
                            <div>
                                <IMG  class="redondo" SRC="IMG/online.jpg">
                            </div>
                            <div>
                                <p>Online</p>
                            </div>
                        </button>
                    </div>
                    <div class="col-md-6">
                        <button  class="btn4 boton-grande"ng-click="cursos()"onclick="window.location.href='#cursos'">
                            <div>
                                <IMG class="redondo" SRC="IMG/presencial.jpg">
                            </div>
                            <div>
                                <p>Presencial</p>
                            </div>
                        </button>
                    </div>
                </div>
            </div>
            
        </div>



    </section>