<div  id="app" class="settings">
  <main class="main-right">

    <section class="page-sidebar sidebar-right">
      <div class="inner">
          <div class="box-colored bg-white">
              <h2 class="view-profile-headline">
                  <a class="avatar avatar-small " title="nombredeusuario">  <img src="../IMG/alumnos/{{alu.username}}.{{alu.extension_img}}"><span class="ring"></span></a>  {{alu.username}} <a href="#/" class="username">Ver tu perfil</a>
              </h2>
              <ul id="settings_tab" class="nav-sidebar">
                  <li class="">
                      <a href="#perfil">Perfil</a>
                  </li>
                  <li class="active">
                      <a href="#historial" >Historial</a>
                  </li>
                  <li class="">
                      <a href="#pass">Contraseña</a>
                  </li>
              </ul>
          </div>
      </div>
    </section>

    <section class="page-main main-right">
      <div id="tab-container">
      <form ng-submit="updateAlumno(alu)">
        <div id="account-content" class="settings-content">

          <!--<button id="submit_button" type="submit" class="btn btn-green right" >Guardar cambios</button>-->
          <h1>Comentario</h1>
          <hr> </hr>

                    <div id="context-view">
                    </div>
                    <div class="player-main">
                        <div id="prev-session-element-container" class="">
                        </div>
                        <div id="session-element-container" class="">
                            <div class="challenge-translate">
                                <h1 class="player">Detalles:</h1>
                                <table class="table table-striped">
                                
                                <tbody ng-repeat="c in clase">
                                  <tr>
                                    <td>profesor:</td>
                                    <td>{{c.username_pro}}</td>
                                  </tr>
                                  <tr>
                                    <td>curso:</td>
                                    <td>{{c.nombre}}</td>
                                  </tr>
                                   <tr>
                                    <td>nivel:</td>
                                    <td>{{c.nivel | filternivel}}</td>
                                  </tr>
                                  <tr>
                                    <td>calificacion:</td>
                                    <td><img src="../IMG/profes/{{c.puntuacion}}estrellas.png" HEIGHT=16></td>
                                  </tr>
                                    <tr>
                                    <td>comentario:</td>
                                    <td>{{c.comentario}}</td>
                                  </tr>
                                   <tr>
                                    <td>fecha:</td>
                                    <td>{{c.fecha}}</td>
                                  </tr>
                                   <tr>
                                    <td>modalidad :</td>
                                    <td>{{c.status | filtermodalidad}}</td>
                                  </tr>
                                 
                                </tbody>
                              </table>
                                  <!--que sea table ordenadito-->

                                        <li>
                                            <button class="btn btn-green btn-pequeno has-tooltip redesign-check" data-margin="5" tabindex="20" ng-click="calificar()">calificar o comentar</button>
                                        </li>
                            </div>
                        </div>
                        <div class="intro"></div>
                    </div>
  <br/> <br/> <br/> <br/> <br/>
                    <footer id="controls" class="player-footer " style="display: block;">
                        <div class="col-right action-panel " style="display: block;">
                            <span class="more-padding-left">
                                <a href="#/historial"><button    class="btn btn-green btn-lg has-tooltip redesign-check" data-margin="5" tabindex="20"   >Volver</button></a>
                            </span>
                        </div>
                    </footer>
                    <div id="modal-notification" class="modal hidden fade"></div>
                
      </div>
    </section>
  </main>
</div>