<div  id="app" class="settings">
  <main class="main-right">

    <section class="page-sidebar sidebar-right">
      <div class="inner">
          <div class="box-colored bg-white">
              <h2 class="view-profile-headline">
                  <a class="avatar avatar-small " title="nombredeusuario">  <img src="../IMG/alumnos/{{alu.username}}.{{alu.extension_img}}"><span class="ring"></span></a>  {{alu.username}} 
              </h2>
              <ul id="settings_tab" class="nav-sidebar">
                  <li class="">
                      <a href="#perfil">Configurar Perfil</a>
                  </li>
                  <li class="active">
                      <a href="#historial" >Historial</a>
                  </li>
                  <li class="">
                      <a href="#pass">Contraseña</a>
                  </li>
              </ul>
          </div>
      </div>
    </section>

  <section class="page-main main-right">
      <div id="tab-container">
      <form ng-submit="updateProfesor(pro)">
        <div id="account-content" class="settings-content">

          <button id="submit_button" type="submit" class="btn btn-green right" >Enviar cambios</button>
          <!--mansaje de errores-->
          <div id="confirmation-message" class="hidden save-message">Tus cambios han sido guardados.</div>
          <div id="error-message" class="hidden error-message">Error</div>

          <h1>Comentar la clase</h1>

          <button  class="btn btn-blue left" ng-show="correcto">Comentario Enviado</button>
          <hr>
          <ul class="list-settings">

            <li>
              <label class="label">Comentario</label>
              <div class="input">
                <textarea maxlength="100" id="bio" name="bio" rows="3" cols="40" ng-model="pro.descripcion" style="margin-bottom: 10px; width: 334px;">
                </textarea>
                <p class="gray">
                <span id="bio-count"></span> 100 caracteres maximo</p>
              </div>
            </li>

            <li>
              <label class="label">Nivel de la clase</label>
              <div class="input">
                <ul class="radio-buttons">
                  <li>
                    <label>
                      <input class="border" id="microphone_on" type="radio" name="online" value="1" ng-model="pro.online" ng-checked="pro.online!=0"> 1</label>
                  </li>

                  <li>
                    <label>
                    <input class="border" id="microphone_off" type="radio" name="online" value="0" ng-model="pro.online" ng-checked="pro.online==0"> 2</label>
                  </li>
                  <li>
                    <label>
                    <input class="border" id="microphone_off" type="radio" name="online" value="0" ng-model="pro.online" ng-checked="pro.online==0"> 3</label>
                  </li>
                  <li>
                    <label>
                    <input class="border" id="microphone_off" type="radio" name="online" value="0" ng-model="pro.online" ng-checked="pro.online==0"> 4</label>
                  </li>
                  <li>
                    <label>
                    <input class="border" id="microphone_off" type="radio" name="online" value="0" ng-model="pro.online" ng-checked="pro.online==0"> 5</label>
                  </li>
                </ul>
              </div>
            </li>

            
          </ul>
          </form>
           
        </div>
      </div>
    </section>
  </main>
</div>