<section dir="ltr" class="monument-carousel  choose-course-by-flag fit-to-4-source-langs">
    <div dir="ltr" class="signup">
        <div class="hidden splash-signup-form" id="signup-language" style="display: block;">
            <section class="section-white space slide-in">
                <div class="section-inner-wide section-inner">
                    <div class="language-selection-container">
                        <h1 class="course-picker">Que tipo de clase buscas...</h1>
                        <div class="login-signup-flag-list-container  ">
                            <a ng-click="online()">
                                <div class="choose-language-flag-container choose-language" >
                                    <div class="vertical-align" >
                                        <div class="flag-box">
                                            <img class="flag-svg-large flag-flex-size" src="IMG/temas/contabilidad.png">
                                        </div>
                                        <h2 class="white course-name">Online</h2>
                                    <!--<p class="num-learners">estudiantes</p>-->
                                    </div>
                                </div>
                            </a> 
                            
                            <a ng-click="presencial()">
                                <div class="choose-language-flag-container choose-language" >
                                    <div class="vertical-align">
                                        <div class="flag-box">
                                            <img class="flag-svg-large flag-flex-size" src="IMG/temas/economia.png">
                                        </div>
                                        <h2 class="white course-name">Presencial</h2>
                                    <!--<p class="num-learners">estudiantes</p>-->
                                    </div>
                                </div> 
                            </a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>